/*** TIL POINT FONT:
font-family: 'VT323', monospace;
**/

body {
    margin: 0;
}


#screen {
    width: 100vw;
    height: 56.25vw;
    position: relative;
}

#game_background {
    background-image: url(grafik/nybaggrund.svg);
    background-size: 100%;
    width: 100vw;
    height: 56.25vw;
    position: absolute;
}


#game_foreground {
    background-image: url(grafik/nyforgrund.svg);
    background-size: 100%;
    width: 100vw;
    height: 56.25vw;
    position: absolute;
    top: 0vw;
    pointer-events: none;
}




/********* GAME ELEMENTER ***********/


.type1 {
    background-image: url(grafik/baby.svg);
    background-size: 100%;
    width: 10vw;
    height: 9.7vw;
    position: absolute;
    cursor: pointer;
}

.type2 {
    background-image: url(grafik/diamant.svg);
    background-size: 100%;
    width: 10vw;
    height: 9.7vw;
    position: absolute;
    cursor: pointer;
}

.type3 {
    background-image: url(grafik/hest.svg);
    background-size: 100%;
    width: 10vw;
    height: 9.7vw;
    position: absolute;
    cursor: pointer;
}

.position1 {
    top: 24.7vw;
    left: 2vw;
}

.position2 {
    top: 31vw;
    left: 14.1vw;
    transform: scale(0.8);
}

.position3 {
    top: 22.4vw;
    left: 18.5vw;
}

.position4 {
    top: 29.7vw;
    left: 30vw;
    transform: scale(0.8)
}

.position5 {
    top: 21.9vw;
    left: 34vw;
}

.position6 {
    top: 32.7vw;
    left: 45.5vw;
}

.position7 {
    top: 29vw;
    left: 58.2vw;
}

.position8 {
    top: 18.5vw;
    left: 66.7vw;
}

.position9 {
    top: 21.7vw;
    left: 79.2vw;
}

.position10 {
    top: 33.2vw;
    left: 84vw;
}

/*#diamant1 {
    background-image: url(grafik/diamant.svg);
    background-size: 100%;
    width: 10vw;
    height: 9.7vw;
    position: absolute;
    top: 24.7vw;
    left: 2vw;
}

#baby1 {
    background-image: url(grafik/baby.svg);
    background-size: 100%;
    width: 10vw;
    height: 9.7vw;
    position: absolute;
    top: 24.7vw;
    left: 2vw;
}

#hest1 {
    background-image: url(grafik/hest.svg);
    background-size: 100%;
    width: 10vw;
    height: 9.7vw;
    position: absolute;
    top: 24.7vw;
    left: 2vw;
}

#diamant2 {
    background-image: url(grafik/diamant.svg);
    background-size: 100%;
    width: 10vw;
    height: 9.7vw;
    position: absolute;
    top: 31vw;
    left: 14.1vw;
    transform: scale(0.8);
}

#hest2 {
    background-image: url(grafik/hest.svg);
    background-size: 100%;
    width: 10vw;
    height: 9.7vw;
    position: absolute;
    top: 31vw;
    left: 14.1vw;
    transform: scale(0.8);
}

#baby2 {
    background-image: url(grafik/baby.svg);
    background-size: 100%;
    width: 10vw;
    height: 9.7vw;
    position: absolute;
    top: 31vw;
    left: 14.1vw;
    transform: scale(0.8);
}

#diamant3 {
    background-image: url(grafik/diamant.svg);
    background-size: 100%;
    width: 10vw;
    height: 9.7vw;
    position: absolute;
    top: 22.4vw;
    left: 18.5vw;
}

#hest3 {
    background-image: url(grafik/hest.svg);
    background-size: 100%;
    width: 10vw;
    height: 9.7vw;
    position: absolute;
    top: 22.4vw;
    left: 18.5vw;
}

#baby3 {
    background-image: url(grafik/baby.svg);
    background-size: 100%;
    width: 10vw;
    height: 9.7vw;
    position: absolute;
    top: 22.4vw;
    left: 18.5vw;
}


#diamant4 {
    background-image: url(grafik/diamant.svg);
    background-size: 100%;
    width: 10vw;
    height: 9.7vw;
    position: absolute;
    top: 29.7vw;
    left: 30vw;
    transform: scale(0.8)
}

#hest4 {
    background-image: url(grafik/hest.svg);
    background-size: 100%;
    width: 10vw;
    height: 9.7vw;
    position: absolute;
    top: 28.7vw;
    left: 30vw;
}


#baby4 {
    background-image: url(grafik/baby.svg);
    background-size: 100%;
    width: 10vw;
    height: 9.7vw;
    position: absolute;
    top: 29.7vw;
    left: 30vw;
    transform: scale(0.8)
}


#diamant5 {
    background-image: url(grafik/diamant.svg);
    background-size: 100%;
    width: 10vw;
    height: 9.7vw;
    position: absolute;
    top: 21.9vw;
    left: 34vw;
}

#hest5 {
    background-image: url(grafik/hest.svg);
    background-size: 100%;
    width: 10vw;
    height: 9.7vw;
    position: absolute;
    top: 21.9vw;
    left: 34vw;
}

#baby5 {
    background-image: url(grafik/baby.svg);
    background-size: 100%;
    width: 10vw;
    height: 9.7vw;
    position: absolute;
    top: 21.9vw;
    left: 34vw;
}

#diamant6 {
    background-image: url(grafik/diamant.svg);
    background-size: 100%;
    width: 10vw;
    height: 9.7vw;
    position: absolute;
    top: 32.7vw;
    left: 45.5vw;
}

#hest6 {
    background-image: url(grafik/hest.svg);
    background-size: 100%;
    width: 10vw;
    height: 9.7vw;
    position: absolute;
    top: 32.7vw;
    left: 45.5vw;
}

#baby6 {
    background-image: url(grafik/baby.svg);
    background-size: 100%;
    width: 10vw;
    height: 9.7vw;
    position: absolute;
    top: 32.7vw;
    left: 45.5vw;
}

#diamant7 {
    background-image: url(grafik/diamant.svg);
    background-size: 100%;
    width: 10vw;
    height: 9.7vw;
    position: absolute;
    top: 29vw;
    left: 58.2vw;
}

#hest7 {
    background-image: url(grafik/hest.svg);
    background-size: 100%;
    width: 10vw;
    height: 9.7vw;
    position: absolute;
    top: 29vw;
    left: 58.2vw;
}

#baby7 {
    background-image: url(grafik/baby.svg);
    background-size: 100%;
    width: 10vw;
    height: 9.7vw;
    position: absolute;
    top: 29vw;
    left: 58.2vw;
}


#diamant8 {
    background-image: url(grafik/diamant.svg);
    background-size: 100%;
    width: 10vw;
    height: 9.7vw;
    position: absolute;
    top: 18.5vw;
    left: 66.7vw;
}

#hest8 {
    background-image: url(grafik/hest.svg);
    background-size: 100%;
    width: 10vw;
    height: 9.7vw;
    position: absolute;
    top: 18.5vw;
    left: 66.7vw;
}

#baby8 {
    background-image: url(grafik/baby.svg);
    background-size: 100%;
    width: 10vw;
    height: 9.7vw;
    position: absolute;
    top: 18.5vw;
    left: 66.7vw;
}

#diamant9 {
    background-image: url(grafik/diamant.svg);
    background-size: 100%;
    width: 10vw;
    height: 9.7vw;
    position: absolute;
    top: 21.7vw;
    left: 79.2vw;
}

#hest9 {
    background-image: url(grafik/hest.svg);
    background-size: 100%;
    width: 10vw;
    height: 9.7vw;
    position: absolute;
    top: 21.7vw;
    left: 79.2vw;
}

#baby9 {
    background-image: url(grafik/baby.svg);
    background-size: 100%;
    width: 10vw;
    height: 9.7vw;
    position: absolute;
    top: 21.7vw;
    left: 79.2vw;
}

#diamant10 {
    background-image: url(grafik/diamant.svg);
    background-size: 100%;
    width: 10vw;
    height: 9.7vw;
    position: absolute;
    top: 33.2vw;
    left: 84vw;
}

#hest10 {
    background-image: url(grafik/hest.svg);
    background-size: 100%;
    width: 10vw;
    height: 9.7vw;
    position: absolute;
    top: 33.2vw;
    left: 84vw;
}

#baby10 {
    background-image: url(grafik/baby.svg);
    background-size: 100%;
    width: 10vw;
    height: 9.7vw;
    position: absolute;
    top: 33.2vw;
    left: 84vw;
}

*/

/************HIDE/SHOW GAME ELEMENTER**********/

.in_out1 {
    animation-name: in_out1;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

.in_out2 {
    animation-name: in_out2;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-delay: 4s;
}

.in_out3 {
    animation-name: in_out3;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-delay: 8s;
}

.in_out4 {
    animation-name: in_out4;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-delay: 12s;
}

.in_out5 {
    animation-name: in_out5;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-delay: 16s;
}

.in_out6 {
    animation-name: in_out6;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-delay: 20s;
}

@keyframes in_out1 {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    70% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes in_out2 {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    70% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes in_out3 {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    70% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes in_out4 {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    70% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes in_out5 {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    70% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes in_out6 {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    70% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

/************UI GAME ELEMENTER**********/

#points {
    background-image: url(grafik/nypoint.svg);
    background-size: 100%;
    width: 6.5vw;
    height: 3.5vw;
    position: absolute;
    top: 2.2vw;
    left: 46.7vw;
    color: black;
    font-family: 'VT323', monospace;
    font-size: 1rem;
    display: flex;
}

#points .antal {
    /*  outline: 2px solid red;*/
    font-feature-settings: tnum;
    width: 20vw;
    left: 20vw;
    text-align: right;
    position: absolute;
}


#energy {
    position: absolute;
    left: 84.7vw;
    top: 2vw;
    width: 12vw;
    height: 3.3vw;
    /*  outline: 2px solid red;*/
    display: flex;
    direction: row;
    justify-content: space-around;
}

.liv {
    width: 4vw;
    height: 3.3vw;
    background-size: 100%;
    background-image: url(grafik/1_liv.svg);
}

/*

#life {
    background-image: url(grafik/1_liv.svg);
    background-size: 100%;
    width: 4vw;
    height: 3.3vw;
    position: absolute;
    top: 2vw;
    left: 92.7vw;
}

#life2 {
    background-image: url(grafik/1_liv.svg);
    background-size: 100%;
    width: 4vw;
    height: 3.3vw;
    position: absolute;
    top: 2vw;
    left: 88.7vw;
}

#nolife {
    background-image: url(grafik/0_liv.svg);
    background-size: 100%;
    width: 4vw;
    height: 3.3vw;
    position: absolute;
    top: 2vw;
    left: 84.7vw;
}
*/

#time {
    background-image: url(grafik/tid.svg);
    background-size: 100%;
    width: 8.5vw;
    height: 3.5vw;
    position: absolute;
    top: 2vw;
    left: 2.7vw;
}


/***** TITELSKÆRM hvor der er sat display: none *****/


#start {
    background-image: url(grafik/nytitel.svg);
    background-size: 100%;
    width: 100vw;
    height: 56.25vw;
    position: absolute;
    top: 0vw;
}



#play {
    background-image: url(grafik/play_knap.svg);
    background-size: 100%;
    width: 17vw;
    height: 10.4vw;
    position: absolute;
    top: 21vw;
    left: 42vw;
}

#settings {
    background-image: url(grafik/settings.svg);
    background-size: 100%;
    width: 50vw;
    height: 33vw;
    position: absolute;
    top: 15vw;
    left: 25vw;
}

#luk {
    background-image: url(grafik/luk_knap.svg);
    background-size: 100%;
    width: 10vw;
    height: 9vw;
    position: absolute;
    top: 1.5vw;
    left: 38vw;
}

#settings_knap {
    background-image: url(grafik/settings_knap.svg);
    background-size: 100%;
    width: 9vw;
    height: 9.4vw;
    position: absolute;
    top: 1vw;
    right: 1vw;
}

#start_foreground {
    background-image: url(grafik/titelsk%C3%A6rm_forggrund.svg);
    background-size: 100%;
    width: 100vw;
    height: 56.25vw;
    position: absolute;
    top: 0vw;
    pointer-events: none;
    z-index: 1;
}



/***************** SPIL SLUT med display:none*******************/

#gameover {
    background-image: url(grafik/game_over.svg);
    background-size: 100%;
    width: 55vw;
    height: 36vw;
    position: absolute;
    top: 10vw;
    left: 22vw;
}

#tryagain {
    background-image: url(grafik/pr%C3%B8v_igen.svg);
    background-size: 100%;
    width: 20vw;
    height: 7vw;
    position: absolute;
    top: 27vw;
    left: 34vw;
}

#levelcomplete {
    background-image: url(grafik/level_complete.svg);
    background-size: 100%;
    width: 55vw;
    height: 35.7vw;
    position: absolute;
    top: 10vw;
    left: 22vw;
}

#tryagain2 {
    background-image: url(grafik/pr%C3%B8v_igen.svg);
    background-size: 100%;
    width: 20vw;
    height: 7vw;
    position: absolute;
    top: 27vw;
    left: 34vw;
}


/***************** SPIL START INFO med display:none*******************/

#startinfo {
    background-image: url(grafik/startbesked.svg);
    background-size: 100%;
    width: 55vw;
    height: 36.7vw;
    position: absolute;
    top: 10vw;
    left: 22vw;
    z-index: 1;
}

#luk2 {
    background-image: url(grafik/luk_knap.svg);
    background-size: 100%;
    width: 10vw;
    height: 9vw;
    position: absolute;
    top: 0vw;
    left: 43.5vw;
}


/************************************ klik på play ********/

/* effekter */
.hide {
    display: none;
}

.show {
    display: block;
}

.blur {
    filter: blur(5px) brightness(80%);
}

.fade_out {
    animation-name: fadeout_kf;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeout_kf {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.pulse {
    animation-name: pulse_kf;
    animation-duration: 1.7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}


@keyframes pulse_kf {
    0% {
        transform: scale(0.77);
    }

    100% {
        transform: scale(1);
    }
}

cursor: pointer;
}



/***************** animation *****************/

.forsvind {
    animation-name: forsvind_kf;
    animation-duration: .7s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(.59, -0.56, .77, 1.34);
    animation-fill-mode: forwards;
}

@keyframes forsvind_kf {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(0);
    }
}

.explode {
    animation-name: explode_kf;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
}

@keyframes explode_kf {
    from {
        transform: translate(-55vw, -55vw) scale(.1) rotate(0);
    }

    to {
        transform: translate(-55vw, -55vw) scale(3) rotate(-30deg);
    }
}

.shake {
    /*  background-color: red;*/
    width: 100vw;
    height: 56.25vw;

    animation-name: shake_kf;
    animation-duration: .2s;
    animation-iteration-count: 3;
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes shake_kf {
    0% {
        background-color: transparent;
        transform: rotate(0) scale(1);
    }

    10% {
        background-color: rgba(255, 246, 27, 0.7);
        transform: rotate(-5deg) scale(1.5);
    }

    50% {
        background-color: rgba(255, 165, 0, 0.7);
        transform: rotate(10deg) scale(1.5);
    }

    100% {
        background-color: rgba(255, 0, 0, 0.7);
        transform: rotate(-10deg) scale(1.5);
    }
}

.paused {
    animation-play-state: paused;
}

/* UI
#points {
  position: absolute;
  left: 87vw;
  color: white;
  font-size: 2rem;
  font-family: sans-serif;
  display: flex;
}

#points .coin {
  background-image: url(coin.svg);
  background-size: 100%;
  width: 2rem;
  height: 2rem;
}

#points .antal {
/*  outline: 2px solid red;
  font-feature-settings: tnum;
  width: 6rem;
  text-align: right;
}

#energy {
  position: absolute;
  left: 87vw;
  top: 3rem;
  width: 6rem;
/*  outline: 2px solid red;
  display: flex;
  justify-content: space-between;
}

.heart {
  width: 2rem;
  height: 2rem;
  background-image: url(heart.svg);
  background-size: 100%;
}
*/
